<section>
    <img src="/assets/htmltag.png">
    <form [formGroup]="emailAndPasswordValidation" (ngSubmit)="onSubmit()">
        <div class="form-group">

            <input type="email" id="emailinput" class="form-control"placeholder="email" formControlName="email" required size="30">

        </div>
        <div *ngIf="this.emailAndPasswordValidation.get('email')?.valid;">Não digita merda no formulário, bro!</div>

        <div class="form-group">

            <input type="password" id="passwordinput" class="form-control" formControlName="password" placeholder="senha" size="30">

        </div>

        <button type="submit" id="submitbutton">Entrar</button>
    </form>
</section>