<div class="container main-container">

    <div class="row text-center">
        
        <div *ngFor="let imagem of imagens" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">

                    <div style="align-content:center;">
                        <img src={{imagem.url}} height="164px" width="253px" alt="">
                        <h4 class="card-title">{{imagem.title | titlecase}}</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
